body{
    font-family: sans-serif;
    background-color:#141414;
}
.SignIn{
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/ce221d7a-8901-41d9-b726-3ea2efe3a650/2f69dcef-463f-44da-b3b9-662b65f33f82/IN-en-20230703-popsignuptwoweeks-perspective_alpha_website_small.jpg");
    /* background-color: rgba(0, 0, 0, 1);
     */
     /* opacity: 0.5; */
}
/* CustomScrollbar.module.css */
.custom-scrollbar {
    /* Hide the scrollbar */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer and Edge */
  
    /* Hide scrollbar for WebKit/Blink */
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }
  