#logo{
    
position: relative;
top: 5px;
}
#navbar ,#nav{
    background-color: rgb(0,8,29);
}
#nav{
    height: 86px;
    width: 1250px;
}


/* @media screen and (max-width: 320px)  {
    #nav {
     
    height: 11vh;
    width: 42vh;/* Let the width adjust automatically for mobile */
    


  /* Responsive styles for mobile devices */
@media screen and (max-width: 768px) {
    #nav {
      width: 386px; /* Let the width adjust automatically for mobile */
    }
    #logo{
        
    width: 7rem;
    height: 1.5rem;
  }
  #nav2{
    width: 181px;
  }
}