/* h3{
    
    font-size: 26px;
    color: white;
    font-weight: bold;
    padding: 0 0 0 1rem;
}

.row{


    background-color: black;
}
.MovieBox{
    height: 90px;
    display: inline;
}
img{
    height: 150px;
    margin: 2rem;
    width: 202px;
} */